.myDrawer
  .drawerEnteranceButton
    padding-top 10px
    padding-bottom 10px
    cursor pointer
    font-style italic
    &:hover
      background-color white
      color black
.applyVip
  padding-left 5px
  padding-right 5px
  color rgb(233, 21, 80)
  font-size 14px
  font-style italic
  &:hover
    background-color white
    color black
