.loginModal
  .tabHeaderContainer
    border none !important
    .tabHeader
      color grey !important
      font-size 14px
      border-bottom none !important
    .tabHeader.tabHeaderSelected
      font-size 16px
      color black !important
