html,body
  width 100%
  height 100%
  margin 0
  padding 0
  min-width 320px

#app,.root
  width 100%
  height 100%

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ::-webkit-scrollbar { /*隐藏滚轮*/
//   display: none
// }
.vhCenter{
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  display: box;

  -webkit-flex-direction: row;
  flex-direction: row;

  -webkit-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  box-pack: center;

  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
@keyframes loadingAnimation {
  0% {  transform: rotate(0deg);}
  25% { transform: rotate(90deg); }
  50% { transform: rotate(180deg); }
  75% { transform: rotate(270deg); }
  100% { transform: rotate(360deg);}
}
@keyframes fadeInAnimation {
  0% {  opacity: 0;}
  100% { opacity: 1; }
}
@keyframes fadeOutAnimation {
  0% {  opacity: 1;}
  100% { opacity: 0; display: none; }
}
.baseIframe
  &:after
    content ""
    position absolute
    left 0
    top 0
    z-index -1
    width 200%
    height 200%
    border 2px solid #eee;
    -webkit-transform-origin 0 0
    transform-origin 0 0
    -webkit-transform scale(.5, .5)
    transform scale(.5, .5)
    border-radius 10px
.baseIframe.selected
  &:after
    content ""
    position absolute
    left 0
    top 0
    z-index -1
    width 200%
    height 200%
    border 2px solid red;
    -webkit-transform-origin 0 0
    transform-origin 0 0
    -webkit-transform scale(.5, .5)
    transform scale(.5, .5)
    border-radius 10px
.addButton
  // color black
  opacity 0.2
  &:hover
    opacity 1
.withRow{
  display: -ms-flexbox;
  -ms-flex-direction: row;

  display:flex;
  display:-webkit-box;
  -webkit-flex-direction:row;
  -webkit-box-orient:horizontal;
}
.withColumn{
  display: -ms-flexbox;
  -ms-flex-direction: column;

  display:flex;
  display:-webkit-box;
  -webkit-flex-direction:column;
  -webkit-box-orient:vertical;
}
.withRowLeftAuto,.withColumnLeftAuto
  -webkit-box-flex 1
  flex 1
.dropDownInDrawer
  z-index 9999 !important

.table
  .tdCenter
    vertical-align middle
    text-align center
